body {
    display: flex;
    flex-direction: column;

    width: 16em;
}

strong {
    padding-bottom: 2em;
}

/* ------------- */
/* Toggle switch */
/* ------------- */

.switch {
    position: relative;
    display: inline-block;

    width: 100%;
    min-height: 7em;
}

.switch input {
    width: 0;
    height: 0;

    opacity: 0;
}

.slider {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 4em;
    cursor: pointer;
    background-color: #ccc;

    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";

    height: 82%;
    width: 40%;
    left: 3%;
    bottom: 6%;

    border-style: solid;
    border-radius: 100%;
    border-color: #00CC00;
    background-image: url("icon.png");
    background-position-x: -1px;
    background-position-y: -1px;
    background-size: 110%;

    transition: 0.4s;
}

input:checked + .slider {
    background-color: #0000CC;
}

input:checked + .slider::before {
    transform: translateX(120%);
}
